<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Edit Comment</legend>
  
        <form action="/blog/<%= FoundBlog.id %>?_method=PATCH" method="POST">

          <label for="comment">comment:</label>
          <input type="text" id="comment" name="comment" value="<%=FoundBlog.comment%>" />
          <br />
          <button type="submit">Edit comment</button>
        </form>
  
      </fieldset>
</body>
</html>