<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <fieldset>
      <legend>Baisc Info</legend>

      <form action="/blogs" method="POST">

        <label for="name">username:</label>
        <input type="text" id="name" name="username" />
        <br />
        <label for="comment">comment:</label>
        <input type="text" id="comment" name="comment" />
        <br />
        <button type="submit">Add comment</button>
      </form>

    </fieldset>
  </body>
</html>
