<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/show.css">
    
    <title>data</title>
  </head>
<body>

    <h1>Showing A particular Blog</h1>
    <div>
        <h1>Id:<%= OneBlog.id %></h1>
        <h2><p>Name:<%= OneBlog.username %></p></h2>
        <h4><p>Comment:<%= OneBlog.comment %></p></h4>
        <!-- <a href="blogs/<%= OneBlog.id %>">Show </a> -->
    </div>
</body>
</html>